<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Денежный поток</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@CollapseClass navbar-collapse" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                    <!--<span class="oi oi-home" aria-hidden="true"></span> Home-->
                    <span class="oi oi-home" aria-hidden="true"></span> Главная
                </NavLink>
            </li>
            <AuthorizeView>
                <li class="nav-item">
                    <NavLink class="nav-link" href="incomeexpense">
                        <span class="oi oi-plus" aria-hidden="true"></span> Доходы/Расходы
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="assetpassive">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Активы/Пассивы
                    </NavLink>
                </li>
            </AuthorizeView>
        </ul>
        <AuthLinks />
    </div>
</nav>

@code {
    private bool collapse = true;

    private string CollapseClass => collapse ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapse = !collapse;
    }
}