@page "/"

<h1>Приветствую вас в приложении "Денежный поток"!</h1>

Данное приложение помогает рассчитывать личный денежный поток.
От вас потребуется немного времени для заполнения Доходы/Расходы и Активы/Пассивы. 