@page "/"

<h1>Приветствую вас в приложении "Денежный поток 2.0"!</h1>

<p>Данное приложение помогает рассчитывать личный денежный поток.</p>
<p>От вас потребуется немного времени для заполнения таблиц Доходы/Расходы и Активы/Пассивы.</p> 