################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Server/bin
/src/Server/obj
/src/WebClient/bin/Debug/netstandard2.1
/src/WebClient/obj
/src/WebClient/bin/Release/netstandard2.1
/src/CashFlow.DataProvider.EFCore/bin
/src/CashFlow.DataProvider.EFCore/obj
/src/CashFlow.DataProvider.Interfaces/bin
/src/CashFlow.DataProvider.Interfaces/obj
/src/CashFlow.Model/bin
/src/CashFlow.Model/obj
/src/CashFlow.Model.Dto/bin
/src/CashFlow.Model.Dto/obj
/src/CashFlow.Server/bin
/src/CashFlow.Server/obj
/src/CashFlow.Server.Lib/bin
/src/CashFlow.Server.Lib/obj
/src/CashFlow.Services.Interfaces/bin
/src/CashFlow.Services.Interfaces/obj
/src/CashFlow.WebClient/bin
/src/CashFlow.WebClient/obj
